<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
  <form action="/sonuclar" method="post" id="myForm">
        <!-- Kullanıcıdan metin girişi almak için input kutusu -->
        <label for="inputText">Metin Girişi:</label>
        <input type="text" id="inputText" name="inputText" required>

        <!-- Formu göndermek için bir buton -->
        <button type="submit">Gönder</button>
    </form>
    <h1>{{sonuctext}}</h1>
    <!-- Kullanıcının girdiği metni göstermek için bir kutu -->
    <div id="resultBox"></div>
    <ul>
    {% for makale_data in makale_datas %}
    <li> <a href = "{{makale_data['makale_site_URL']}}"> {{makale_data["makale_isim"]}} </a></li>
    {%endfor%}
    </ul>
    
    <script>
 
    </script>
</body>
</html>
<!--6 mart 21:47-->